<div class="row">
	<main class="col-md-12">
		<h3></br>Welcome to my NodeJS website.</h3>
		<p>This website will demonstrate express routes and middleware to display data from JSON files to the web page, including error handling and custom error messages.</p>
		<p>This site consists of 3 static views (Home, About, HTML Demo) as well as 5 routes that supply data, including: All Students, Students by Course, A Single Student By Student Number, All Teaching Assistants and All Courses.</p>
		<p>Here are the links to the 8 pages:</p>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/htmlDemo">Html Demo</a></li>
			<li><a href="/students">All Students</a></li>
			<li><a href="/students?course=3">Students by Course</a></li>
			<li><a href="/student/2">A Single Student By Student Number</a></li>
			<li><a href="/courses">All Courses</a></li>
		</ul>
		<p>This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web. HTML5 is the latest version of HTML and is designed to meet the needs of the modern web. It is a standard for structuring and presenting content on the web. It is the fifth and current major version of HTML that is a World Wide Web Consortium (W3C) recommendation.</p>
	</main>
</div>