<div class="row">
	<main class="col-md-12">
		<!-- 'Headings' section: -->
		<h3></br>Demo Page</h3></br>

		<!-- 'Tables' section: -->
		<h4>Tables</h4>

		<!-- Table 1 -->
		<table border="1">
			<caption>Table 1: Normal Table</caption>
			<thead>
				<tr>
					<th colspan="3">My Table 1</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Sample Cell A</td>
					<td>Sample Cell B</td>
					<td>Sample Cell C</td>
				</tr>
				<tr>
					<td>Sample Cell D</td>
					<td>Sample Cell E</td>
					<td>Sample Cell F</td>
				</tr>
				<tr>
					<td>Sample Cell G</td>
					<td>Sample Cell H</td>
					<td>Sample Cell I</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3"><b>End of table</b></td>
				</tr>
			</tfoot>			
		</table>
		</br>

		<!-- Table 2 -->
		<table border="1">
			<caption>Table 2: Merged Cells Table</caption>
			<thead>
				<tr>
				<th colspan="3">My Table 2</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				<td rowspan="2">Sample Cell X</td>
				<td>Sample Cell Y</td>
				<td>Sample Cell Z</td>
				</tr>
				<tr>
				<td colspan="2">Sample Cell W</td>
				</tr>
				<tr>
				<td colspan="3">Sample Cell V</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3"><b>End of table</b></td>
				</tr>
			</tfoot>
		</table></br>
		<p>The tables above are examples of HTML tables. The first table is a normal table with a caption, thead, tbody, tfoot, and cells. The second table has merged cells.</p>
		<hr />

		<!-- 'Lists' section: -->
		<h4>Lists</h4>
		<ol>
			<li>Orange</li>
			<li>Apple</li>
			<li>Avocado
				<ul>
					<li>Hass avocado</li>
					<li>Maluma avocado</li>
					<li>Pinkerton avocado</li>
				</ul>
			</li>
			<li>Pomelo</li>
			<li>Cherry</li>
		</ol>
		<p>The ordered list contains 5 fruits. One of the fruits (avocado) contains an unordered list with 3 different types of avocado.</p>
		<hr />

		<!-- 'Images' section: -->			
		<h4>Images</h4>
		<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Snowboarder" style="margin-right: 10px; margin-top:10px;" />
		<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Snowboarder" style="margin-right: 10px; margin-top:10px;" />
		<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Snowboarder" style="margin-right: 10px; margin-top:10px;" />
		<p><br>The images above are of a snowboarder in a halfpipe. Each image has an "alt" text.</p>
		<hr />

		<!-- 'Audio' section: -->
		<h4>Audio</h4>
		<audio controls>
			<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mpeg" />
			<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/ogg" />
			Your browser does not support the audio element.
		</audio>
		<p>The audio player above is an HTML 5 audio player. It contains a control attribute and two source elements. The audio player has a message that will display if the browser does not support the audio element.</p>
		<hr />

		<!-- 'Video' section: -->
		<h4>Video</h4>
		<video controls>
			<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4" />
			<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" type="video/ogg" />
			<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm" type="video/webm" />
			Your browser does not support the video element.
		</video>
		<p>The video player above is an HTML 5 video player. It contains a control attribute and three source elements. The video player has a message that will display if the browser does not support the video element.</p>
	</main>
</div>